/*
메인 색상
5356FF rgb(83, 86, 255)
378CE7 rgb(55, 140, 231)
67C6E3 rgb(103, 198, 227)
DFF5FF rgb(223, 245, 255)

빨간색
f44336
*/

/*BoardMain*/
.board-title {
  font-size: 20px;
  color: #5356ff;
  font-family: ns-b;
  text-align: center;
  padding: 30px 0px;
  border-bottom: 2px solid #5356ff;
}

/*BoardList*/
.board-write-btn {
  padding: 20px 0px;
}
.board-write-btn > button {
  width: 100px;
}

.board-list-wrap {
  overflow: hidden;
  padding: 10px;
}
.board-item {
  float: left;
  box-sizing: border-box;
  width: calc(100% / 4);
  padding: 30px;
  cursor: pointer;
}
.board-item:hover {
  box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0/2);
}
.board-item-img > img {
  width: 100%;
}
.board-item-info {
  margin-top: 30px;
}
.board-item-title {
  font-size: 1.2em;
  font-family: ns-b;
  margin-bottom: 10px;
  white-space: nowrap; /*넘치더라도 아래로 안 내려감(가로방향으로 뚫고 나감)*/
  overflow: hidden; /*넘치더라도 짤립(가로방향으로 안 뚫고 나감)*/
  text-overflow: ellipsis; /*넘치면 ...처리*/
}
.board-item-writer,
.board-item-date {
  font-size: 0.9em;
  font-family: ns-b;
}

/*BoardWrite*/
.board-frm-title {
  font-size: 16px;
  color: #5356ff;
  font-family: ns-b;
  padding: 20px 0px;
}
